<template>
  <div id="app">
    <h1>Tarefas</h1>
    <TasksProgress :progress="progress" />
    <NewTask @taskAdded="addTask" />
    <TaskGrid
      @taskDeleted="deleteTask"
      @taskStateChanged="toggleTaskState"
      :tasks="tasks"
    />
  </div>
</template>

<script>
import TaskGrid from "./components/TaskGrid/TaskGrid.vue";
import NewTask from "./components/NewTask/NewTask.vue";
import TasksProgress from "./components/TasksProgress/TasksProgress.vue";

export default {
  components: { TaskGrid, NewTask, TasksProgress },

  data() {
    return {
      tasks: [],
    };
  },

  computed: {
    progress() {
      const total = this.tasks.length;
      const done = this.tasks.filter((t) => !t.pending).length;
      return Math.round((done / total) * 100) || 0;
    },
  },

  watch: {
    /*criando o objeto tasks e utiliza a "handler()" para ficar olhando add, remove ou troca da
    ordem dos elementos da task e tambem olha os valores dentro do array*/
    tasks: {
      deep: true,
      handler() {
        /*pegando a lista de tasks e setando no localStorage apartir
        chamada tasks*/
        localStorage.setItem("tasks", JSON.stringify(this.tasks));
      },
    },
  },

  methods: {
    addTask(task) {
      const sameName = (t) => t.name === task.name;
      //o filtter vai filtar os elementos baseado nessa function
      const reallyNew = this.tasks.filter(sameName).length == 0;
      if (reallyNew) {
        this.tasks.push({
          name: task.name,
          pending: task.pending || true,
        });
      }
      //ou pode ser
      // reallyNew &&
      //   this.tasks.push({
      //     name: task.name,
      //     pending: task.pending || true,
      //   });
    },
    deleteTask(i) {
      this.tasks.splice(i, 1);
    },
    toggleTaskState(i) {
      this.tasks[i].pending = !this.tasks[i].pending;
    },
  },
  //Lendo o localStorage que foi criado;
  created() {
    const json = localStorage.getItem("tasks");
    const array = JSON.parse(json);
    this.tasks = Array.isArray(array) ? array : [];
  },
};
</script>

<style>
body {
  font-family: "Lato", sans-serif;
  background: linear-gradient(to right, rgb(0, 4, 40), rgb(0, 78, 146));
  color: #fff;
}

#app {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#app h1 {
  margin-bottom: 5px;
  font-weight: 300;
  font-size: 3rem;
  color: #fff;
}
</style>
