<template>
  <div class="new-task">
    <b-alert
      :show="dismissCountDown"
      dismiss
      dismissible
      variant="danger"
      @dismissed="dismissCountDown = 0"
      @dismiss-count-down="countDownChanged"
    >
      Por favor, digite a nova tarefa!!!
    </b-alert>
    <input
      class="form-element"
      v-model="name"
      placeholder="Qual é a nova tarefa?"
      type="text"
      @keydown.enter="add"
    />
    <button class="form-element" @click="verificar">+</button>
  </div>
</template>

<script>
export default {
  components: {},

  data() {
    return {
      name: "",
      dismissSecs: 4,
      dismissCountDown: 0,
    };
  },

  props: {},

  methods: {
    verificar() {
      if (this.name != "") {
        this.add();
      } else {
        // Display a warning toast, with no title
        this.showAlert();
      }
    },

    add() {
      //criando evento de adiciona task
      this.$emit("taskAdded", { name: this.name });
      this.name = "";
    },

    countDownChanged(dismissCountDown) {
      this.dismissCountDown = dismissCountDown;
    },

    showAlert() {
      this.dismissCountDown = this.dismissSecs;
    },
  },
};
</script>
<style>
.new-task {
  margin: 35px;
}

.form-element {
  outline: none;
  font-size: 2rem;
  border: 1px solid #fff;
  padding: 5px 10px 8px;
  color: #fff;
}

input.form-element {
  width: 500px;
  background: #fff2;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
span {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
button.form-element {
  border-left: none;
  background-color: #2196f3;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
</style>
